/** Body font fam and size **/
html,body {
font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
margin:0;
padding:0;
}
h1,h2,h3,h4 {

}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
html a:hover,body a:hover {
text-decoration:underline;
}
#region-pre {
padding-top: 0px;
}
#region-post {
padding-top: 0px;
}

a:active,a:focus {
outline:0;
}

#page-header, #page-footer {
	float: none;
}

#page-content {
clear:both;
float:left;
position:relative;
width:100%;
overflow:hidden;
margin-top:-1px;
padding-top:0;
font-size: 80%;
}


/** header divs and style -color in color.css **/
#header-wrap {
top:0;
left:0;
width:100%;
}
#header-container {
height:35px;
background:none;
}

#header-inner {
width:90%;
min-width:920px;
height:35px;
margin:0 auto;
}

#header-inner.singleh {
min-width:400px;
}

#headright {
float:right;
font-size:11px;
font-weight:200;
margin-top:0;
padding-top:0;
min-width:380px;
}

#headleft {
float:left;
height:35px;
margin-left:5px;
line-height: 35px;
font-size: 12px;
color: #fff;
}

/** header menu options **/
#navigation {
list-style-type:none;
height:35px;
overflow:hidden;
}

#navigation li {
float:right;
height:35px;
list-style-type:none;
text-transform:uppercase;
}

#navigation li a:link,#navigation li a:visited {
text-decoration:none;
display:block;
height:35px;
color:#fff;
line-height:35px;
font-size:12px;
font-weight:200;
padding:0 9px;
}

#navigation li a:hover {
background:url([[pix:theme|alert-overlay]]) repeat-x;
color:#fff;
}

#navigation li.menulast,#navigation li.menulast a {
border-right:none !important;
padding-right:3px;
}

/** Some breadcrumb style **/
div#johncontrols span.arrow.sep {
font-size: 1px;
color: #fafafa;
background: url([[pix:theme|arrow-transition]]) no-repeat;
background-position: 50% 3px;
display: inline-block;
width: 16px;
line-height: 30px;
}

.breadcrumb ul {
line-height:35px;
}

.breadcrumb li a,.breadcrumb li {
font-weight:200;
font-size: 12px;
text-decoration:none;
color:#666;
}
.breadcrumb a:hover {
text-decoration: underline;
color: black;
}
.breadcrumb li img {
vertical-align:middle;
}


/** Container and divs for middle logo area **/
#textcontainer-wrap {
top:0;
left:0;
width:100%;
border-top:1px solid #ccc;
}
.thetitle {
float:left;
margin-left:5px;
position:relative;
width:300px;
height:120px;
overflow:hidden;
}
#textcontainer {
clear:both;
border:none;
width:90%;
min-width:920px;
height:120px;
margin:0 auto;
}

div.rightinfo {
float:right;
width:300px;
position: relative;
}

.innerrightinfo {
text-align:right;
margin-right:6px;
font-size:11px;
font-weight:200;
}

.innerrightinfo div.langmenu {
display: block !important;
float: right;
clear: right;
margin-top: -5px !important;
padding-top: 0px !important;
margin-bottom: 0px !important;
padding-bottom: 0px !important;
font-size: 9px;
}

.innerrightinfo div.logininfo {
width:120px;
height:43px;
float:right;
border-right:none;
margin-top:17px;
text-align:center;
padding:10px;
}

.innerrightinfo img.userpicture {
width:48px;
height:58px;
float:right;
border-top:1px solid #eee;
border-right:1px solid #CEC296;
border-bottom:1px solid #ccc;
border-left:none;
background:#dcd0a0;
margin-top:17px;
padding:8px 8px 17px;
}

.ppin {
width:30px;
height:40px;
position:absolute;
background:url([[pix:theme|ppin]]) no-repeat;
right:-3px;
margin-top: 3px;
}

/** container **/
#ie6-container-wrap {
top:0;
left:0;
width:100%;
}

#container {
width:91%;
min-width:400px;
font-size:1.4em;
position:relative;
min-height:600px;
margin:0 auto;
padding:0;
}

/** Footer divs and wrap **/
#footer {
width:90%;
padding-left:4px;
padding-right:4px;
height:40px;
position:relative;
margin:0 auto;
}

#footer-wrap {
position:relative;
bottom:0;
left:0;
width:100%;
}

#footer-container {
height:40px;
}

.johndocs {
float:right;
height:15px;
font-size:8px;
margin-top:10px;
margin-right:3px;
}

.johndocs a {
font-weight:200;
text-decoration:none;
}

.johndocsleft {
float:left;
height:15px;
font-size:8px;
margin-top:10px;
margin-left:3px;
width:200px;
}

/** Main heading styles **/
#region-main-mask .title h2 {
padding-left:0;
font-size:26px;
padding-bottom:2px;
font-weight:200;
text-transform:none;
margin-top:3px;
margin-bottom:2px;
border-bottom:1px dotted #CEC296;
}

h2.headingblock,h2.main,h3.main,h2.main a {
font-size:26px;
padding-bottom:2px;
font-weight:200;
text-transform:none;
margin-top:3px;
margin-bottom:2px;
border-bottom:1px dotted #CEC296;
}

/** Block Styles minus color info found in color.css **/
.block {
margin-top:0 !important;
margin-bottom:5px !important;
padding-top:0 !important;
padding-bottom:0 !important;
border:2px solid #f2f2f2;
border-left:1px solid #f2f2f2;
border-right:2px solid #f2f2f2;
border-top:1px solid #fff;
}

.block div.header {
background:#ccc url([[pix:theme|bback]]) repeat-x;
margin-top:0 !important;
margin-bottom:0 !important;
padding-top:0 !important;
min-height:33px;
height:auto !important;
height:33px;
border:1px solid #CEC296;
}
.block.hidden div.header {
border:1px solid #aaaaaa;
}
.block div.block_action {
line-height: 10px;
}
.block div.block_action input {
background:#ccc url([[pix:theme|bback]]) repeat-x;

}
.title h2 {
padding-left:20px;
font-size:13px;

background:url([[pix:theme|universal]]) no-repeat;
background-position:2px 0px !important;
margin-top:8px !important;
margin-bottom:0px !important;
font-weight:200;
}

.headselect {
background-color:#ffc !important;
border-right:1px solid #CEC296;
border-top:1px solid #ff3;
}

.headselect h2 {
color:#000 !important;
}

.johnclear {
clear: both;
}

div#johncontrols  {
height: 35px;
width: 98%;
margin-left: auto;
margin-right: auto;
margin-bottom: -5px;
clear: both;
overflow: hidden;
}
div.johncontrolsleft {
min-width: 100px;
float: left;
margin-left: 2px;
}
div.johncontrolsright {
min-width: 100px;
float: right;
margin-right: 2px;
margin-top: 5px;
}

/** Block icons **/
.block_settings_navigation_tree .title h2,.block_settings .title h2 {
background:url([[pix:theme|switch]]) no-repeat;
}

.johnblock .title h2 {
background:url([[pix:theme|star]]) no-repeat;
}

.block_calendar_month .title h2 {
background:url([[pix:theme|calendar]]) no-repeat;
}

.block_tags .title h2 {
background:url([[pix:theme|tag]]) no-repeat;
}

.block_private_files .title h2 {
background:url([[pix:theme|documents-stack]]) no-repeat;
}

.block_activity_modules .title h2 {
background:url([[pix:theme|mouse]]) no-repeat;
}

.block_online_users .title h2 {
background:url([[pix:theme|users]]) no-repeat;
}

.block_calendar_upcoming .title h2 {
background:url([[pix:theme|calendar-blue]]) no-repeat;
}

.block_site_main_menu .title h2 {
background:url([[pix:theme|book-open]]) no-repeat;
}

.block_course_list .title h2 {
background:url([[pix:theme|jcourse]]) no-repeat;
}

.block_global_navigation_tree .title h2,.block_navigation .title h2 {
background:url([[pix:theme|compass]]) no-repeat;
}

.block_search_forums .title h2 {
background:url([[pix:theme|magnifier]]) no-repeat;
}

.block_news_items .title h2 {
background:url([[pix:theme|newspaper--plus]]) no-repeat;
}

.block_recent_activity .title h2 {
background:url([[pix:theme|chart-up-color]]) no-repeat;
}

.block_comments .title h2 {
background:url([[pix:theme|balloons-box]]) no-repeat;
}

.block_messages .title h2 {
background:url([[pix:theme|mail-send-receive]]) no-repeat;
}

.block_participants .title h2 {
background:url([[pix:theme|user-silhouette]]) no-repeat;
}

.block_login .title h2 {
background:url([[pix:theme|lock]]) no-repeat;
}

.block_adminblock .title h2 {
background:url([[pix:theme|plus-circle]]) no-repeat;
}

.block_myprofile .title h2 {
background:url([[pix:theme|user-pencil]]) no-repeat;
}

.block_course_overview .title h2 {
background:url([[pix:theme|dashboard]]) no-repeat;
}
.block_rss_client .title h2 {
background:url([[pix:theme|feed]]) no-repeat;
}
.block_mnet_hosts .title h2 {
background:url([[pix:theme|network-hub]]) no-repeat;
}
.block_selfcompletion .title h2 {
background:url([[pix:theme|ui-check-box]]) no-repeat;
}
.questionbankwindow .title h2 {
background:url([[pix:theme|bank]]) no-repeat;
color: black;
}
.block div.content {
font-size:12px;
font-weight:200;
border:0px solid #CEC296;
border-top:none;
background:#dcd0a0;
background: transparent;
padding:10px 15px 15px;
}
div.block_course_summary.block div.content {
border-top: 1px solid #CEC296;
}
.block_myprofile div.myprofileitem.picture a img {
width:70px;
height:75px;
background:#fafafa;
border-top:1px solid #eee;
border-left:1px solid #eee;
border-right:1px solid #CEC296;
border-bottom:1px solid #ccc;
padding:8px 8px 18px;
}

.block_calendar_month table.minicalendar.calendartable td,.block_calendar_month table.minicalendar.calendartable th {
border:1px solid #fff !important;
}
.block_calendar_month table.minicalendar {
margin-bottom: 0px !important;
}
.block_calendar_month table.minicalendar.calendartable th abbr {
border:none !important;
text-decoration:none;
}

.block_login div.content div.fld {
margin-top:5px;
margin-bottom:10px;
}

#region-main-mask .block div.content {
display:block;
position:relative;
left:0;
top:0;
width:100%;
border:none;
}

#region-main-mask .block div.header {
background-image:none;
}

.calendar_sideblock div.minicalendarblock h3 {
margin-top:2px;
margin-bottom:2px;
}


/** inner block styles for recent news, etc **/
.side-pre .block div.content h2.main,.side-post .block div.content h2.main,.block div.content h3.main,.block div.content h2 {
font-size:13px;
color:#333;
font-weight:800;
}

/** Editing on style for block icons **/
.block div.commands {
background:#dcd0a0 !important;
padding:4px;
}

.block div.commands a {
padding-right:2px;
margin-right:2px;
}

h2.main a {
font-size:21px !important;
}

h3.main {
font-size:18px;
}

div.yui-dialog h3.main {
font-size:14px;
}

/** Coursebox and category box stuff **/
.unlist li {
border-bottom:1px solid #fafafa;
margin-bottom:3px;
}

.unlist div.coursebox li {
border-bottom:none;
margin-bottom:0;
}

.coursebox div.info h3.name {
background-image:url([[pix:theme|jcc]]);
background-repeat:no-repeat;
background-position:0 50%;
padding-left:18px;
}

.coursebox div.info h3.name,.coursebox div.info h3.name a {
margin-top:0;
margin-bottom:3px;
font-size:16px;
font-weight:200;
}

ul.teachers li {
padding-left:6px !important;
font-size:11px;
}

.coursebox div.summary {
font-style:italic;
font-weight:200;
color:#666;
font-size:14px;
}

div.coursebox {
margin-top:0;
margin-bottom:5px;
border-bottom:0;
}

div.categorybox {
border:0 solid #ccc;
margin-top:0;
}

td.category.name a {
padding-left:20px;
background-image:url([[pix:theme|jcourse]]);
background-repeat:no-repeat;
background-position:0 50%;
font-weight:200;
font-size: 16px;
}

td.category.number {
font-size: 16px;
}
#course-index td.category.name a{
padding-left:0px;
background-image:none;
}
table.categorylist td {
padding:0;
}

#intro2 {
color:#666;
font-size:17px;
font-style:italic;
font-weight:200;
border:none;
padding-bottom:2px;
text-align:center;
}

#intro2 p {
display:inline;
}

div.course_category_tree a {
font-size:16px;
font-weight:200;
text-decoration:none;
}

div.course_category_tree div.category,div.course_category_tree div.category_label,div.course_category_tree div.courses {
margin-bottom:8px;
}

div.course_category_tree div.category.with_children div.category_label {
background-position:0 55% !important;
}

div.course_category_tree div.course.odd {
background:#dcd0a0;
}

div.course_category_tree div.course a {
background-image:url([[pix:theme|jcc]]) !important;
background-repeat:no-repeat;
background-position:0 50%;
font-size:14px;
}
div.category.subcategory.with_children {
margin-left: 20px;
}
div.course_category_tree div.controls {
font-size:10px;
color:#666;
text-transform:uppercase;
}

div.course_category_tree div.controls div {
margin-top:3px;
margin-right:10px;
border-bottom:1px solid #CEC296;
}

/** Table styles and forum styles **/
table.rolecap .header,.generaltable .header,.forumheaderlist .header,.files .header,.editcourse .header,.logtable .header,#attempts .header,table#categoryquestions th {
font-size:11px;
text-transform:uppercase;
font-weight:200;
text-decoration:none;
border-top:1px #CEC296 solid !important;
padding:5px;
}

table.rolecap,.generaltable,.forumheaderlist,.files,.editcourse {
background:#dcd0a0;
margin-left:auto;
margin-right:auto;
border:1px #CEC296 solid;
}

table.forumheaderlist {
border:none !important;
margin-top:10px;
border-collapse:collapse;
background:#dcd0a0;
}

.generaltable .header a,.forumheaderlist .header a {
border:none;
color:#fff !important;
font-size:12px;
text-decoration:none;
padding:5px;
}

table.rolecap td,table.rolecap th.name,.generaltable td,.forumheaderlist td,.files td,.editcourse td,.logtable td {
border:1px solid #CEC296 !important;
background:#dcd0a0;
font-size:12px;
color:#404040;
padding:5px;
}

tr.r1 td {
background-color:#eee !important;
}

.forumpost .content {
border:1px solid #CEC296;
border-top:none;
background:#dcd0a0;
padding:1em 1em 1em 1em;
}

.forumpost .topic {
border:1px solid #CEC296;
padding-bottom: 20px;
padding: 5px;
}

.forumpost .subject {
font-size:16px;
}

.forumpost .picture {
border-right:none !important;
}

.author {
border-left:none !important;
}

.forumpost {
font-size:.85em;
border:none;
}

.forumpost .commands a {
text-decoration:none;
font-weight:200;
}

.forumpost td.left {
padding-right:5px;
}

.forumpost .left.picture {
background-position:120% 100%;
}



.forumpost .starter {
background-color:#FFF;
}

.forumpost .author {
font-size:9px !important;
color:#666;
text-transform:uppercase;
font-weight:200;
}

.info .name a {
font-weight:bold;
}

.indent {
margin-left:30px;
}

div.subscribelink {
text-align:right;
}

.subscribelink a {
text-decoration:none;
font-size:11px;
}

div.singlebutton {
float:none;
display:block !important;
margin:2px auto;
}

/** Form styling **/
fieldset#general,fieldset.clearfix {
border:1px solid #CEC296 !important;
background: #dcd0a0;
}

legend {background:#D1C398; border:1px solid #C4B78F; padding:3px 15px;}

.ftoggler {
font-size: 18px;
color: #333333;
}

h3.main,div.clearer,fieldset {
margin-top:0 !important;
}

.fitemtitle {
padding-bottom:3px;
font-size:12px;
}

div.fitem {
border-bottom:1px dotted #CEC296;
margin-bottom:0;
padding:4px;
}

div.form-label {
font-weight:800;
font-size:12px;
border:0 solid #CEC296;
margin-right:0;
}

div.form-setting,div.form-description {
border:0 solid #CEC296;
margin-left:0;
}

div.notifysuccess {
width:80%;
margin-left:auto;
margin-right:auto;
font-size:15px;
color:#008500;
border:3px solid #CEC296;
text-align:center;
background:#dcd0a0 url([[pix:theme|yesj]]) no-repeat;
background: url([[pix:theme|yesj]]) no-repeat;
background-position:2% 50%;
padding:5px;
}

.userinfobox td.content p {
font-size:30px;
}

.userinfobox td.side img {
border:13px solid #fff;
border-bottom:35px solid #fff;
}

/** button styles **/
 div.block_private_files.block button, .adminsearchform input[type="submit"], #searchform_button, .johncontrolsright input[type="submit"],div.forumaddnew input[type="submit"], #container2 input[type="button"] {
display:inline-block;
text-decoration:none;
position:relative;
cursor:pointer;
border:1px solid #ccc;
border-left:1px solid #CEC296;
border-top:1px solid #CEC296;
font-size:10px;
padding:4px 7px 3px;
}
div.block_private_files.block button{
padding:2px 4px 2px;
}

/** Tab Style **/
div.tabtree {
margin-bottom:0 !important;
clear:both;
}

div.tabtree ul li a {
text-decoration: none !important;
font:100% "Helvetica Neue",Arial,Helvetica,sans-serif;
}

/** Course Styles and etc. **/
.content div.summary {
font-size:13px;
font-weight:400;
}

ul.section,ul.section li,ul.section li a {
list-style-type:none;
text-decoration:none;
font-size:13px;
margin:0 0 5px;
padding:0;
}

li.section {
border-bottom:1px solid #CEC296;
clear:both;
min-height:30px;
}

li.current {
background:#dcd0a0;
margin-top:0 !important;
padding-top:3px;
}

.course-content .current {background:#dcd0a0;border: 1px solid #CEC296}

h3.weekdates {
border:1px solid #ccc;
background:#fffeff;
width:170px;
font-size:11px !important;
font-weight:200;
text-transform:uppercase;
text-align:center;
margin-top: 0px;
margin-bottom: 3px;
margin-left: auto;
margin-right: auto;
padding:3px;
}

.current h3.weekdates {
color:#333 !important;
font-weight: 600;
}

div.course-content div.left.side {
font-weight:200;
font-style:italic;
font-size:18px;
color:#666;
}

div.course-content li.current div.left.side {
color:#333;
font-weight:800;
}

div.course-content div.right.side a:hover {
background:#CEC296;
}

.box {
border:1px solid #CEC296;
margin: 10px auto;
}



table#categoryquestions th.header a {
color:#fff !important;
}

table#categoryquestions td {
font-size:11px;
border-left:1px solid #CEC296;
border-bottom:1px solid #CEC296;
}


.fhtmleditor {
clear:both !important;
display:block !important;
margin-left:60px !important;
padding-left:0 !important;
}

div.wiki.view {
margin-top:0;
}

h2.wiki_headingtitle {
margin-top:2px;
margin-bottom:4px;
text-align:left;
font-weight:800;
font-size:20px;
font-family:sans-serif;
}

#page-mod-wiki-view div.generalbox {
border:1px solid #CEC296;
background:#dcd0a0 !important;
padding:10px;
}

div.wiki_right a {
font-size:10px;
font-weight:200;
text-decoration:none;
}

.gradestable {
font-size:11px;
width:100%;
}

.gradestable th.category,.gradestable td.topleft {
font-size:16px;
background:#dcd0a0;
}

table#user-grades tr.odd
th.header{background-color:#050;}
table#user-grades tr.even
th.header{background-color:#050;}

#attemptsform {
width:100%;
overflow:auto;
margin-bottom:20px;
}

div.yui3-overlay {
background:#fafafa;
font-size:12px;
border:1px solid #CEC296;
padding:10px;
}

div.comment-userpicture {
margin-right:2px !important;
width:26px !important;
float: left;
}

div.comment-userpicture a img {
margin-top:2px;
border:1px solid #CEC296;
background:#dcd0a0;
padding:2px 2px 4px;
}


/** A few quiz things **/

div.questionbankwindow.block div.header {
background: #666666 !important;
}

div.quizpage div.pagecontent {
background: #eeeeee !important;
border: 1px solid #CEC296;

}

div.questioncontainer div.content {
border: 1px dotted #666666;
}

.reorder div.moveselectedonpage {
float:right;
margin-bottom:20px;
}

table.glossarycategoryheader h2.main {
text-align:center;
border-bottom:1px dotted #666;
margin-bottom:0;
margin-top:0;
background:#dcd0a0;
}

table.glossarypost {
margin-top:0;
width:100%;
border-bottom:1px solid #CEC296;
}

table.glossarypost td.entry h3 {
font-size:20px;
}

/**moodle dropdown css for yui menu **/
#custommenu {
font:79% "Helvetica Neue",Arial,Helvetica,sans-serif !important;
text-transform:uppercase;
font-size:11px;
font-weight:200;
border:none !important;
height:35px;
overflow:hidden;
}
.yui3-menu-content li, .yui3-menu-content li a, .yui3-menu-content, #custommenu, .yui3-menu.yui3-menu-horizontal, .yui3-menu.yui3-menu-horizontal ul {
	background-color: none !important;
	background-image: none !important;
	background: none !important;
}

div.yui3-menu.yui3-menu-horizontal {
float: right;
}
.yui3-menu-content {
border:none !important;
}

.yui3-menu-content li a {
color:#fff !important;
font-size:12px;
line-height:35px;
cursor:pointer;
}

.yui3-menu-horizontal .yui3-menu-label {
padding-left:16px;

}

.yui3-menu-horizontal .yui3-menu-label:hover {

}

.yui3-menu-content li:hover {
background:url([[pix:theme|alert-overlay]]) repeat-x !important;
color:#fff !important;
}

div.yui3-menu.custom_menu_submenu {
background:url([[pix:theme|yuiarrow]]) no-repeat;
background-position:20% 0;
border:none;
min-width:100px;
z-index:99998;
}

div.yui3-menu.custom_menu_submenu div.yui3-menu.custom_menu_submenu {
background:none !important;
min-width:100px;
}

div.yui3-menu.custom_menu_submenu div.yui3-menu-content {
margin-top:20px;
background:#dcd0a0fff;
z-index:99999;
width:200px;
padding-top:0 !important;
padding-bottom:0 !important;
margin-bottom:0 !important;
}
/** below style to move sub subs to the left to keep from going off the page **/
div.yui3-menu.custom_menu_submenu div.yui3-menu-content div.yui3-menu.custom_menu_submenu div.yui3-menu-content{
margin-left: -400px !important; /** double the width of the menu item **/
width: 200px;
position: relative;
top: -15px;
}
div.yui3-menu.custom_menu_submenu .yui3-menu-content li a {
border-bottom:1px solid #CEC296 !important;
border-top:1px solid #fff !important;
text-transform:none;
background:#dcd0a0  !important;
}

div.yui3-menu.custom_menu_submenu .yui3-menu-content li a:hover {
background:#ffc !important;
cursor:pointer;
}

div.yui3-menu.custom_menu_submenu li a.yui3-menu-label {
background: #dcd0a0 url([[pix:theme|yuiaright]]) no-repeat !important;
background: url([[pix:theme|yuiaright]]) no-repeat !important;
background-position:4px 9px !important;
}
div.yui3-menu.custom_menu_submenu li a.yui3-menu-label:hover {
background: #dcd0a0fcc url([[pix:theme|yuiaright]]) no-repeat !important;
background-position:4px 9px !important;
}
/** yui dock bar **/
#dock {
padding-top: 0px;
}

div.dockeditem_container div.dockeditem{
color: #fff;
border: none;
}
div.dockeditem_container div.dockeditem:hover {
background: url([[pix:theme|alert-overlay]]) repeat-x;
}
div.dockeditem_container.firstdockitem {
border-top: none;
top: 100px !important;
}
div.dockedtitle {
border-left: none;
border-right: none;
}

.dockedtitle h2{ 
font-weight: 200 !important;
}

div.dockeditempanel_content {
border: 1px solid #666666 !important;
border-left: none !important;
}
div.dockeditempanel_content a {
text-decoration: none;
}
div.dockeditempanel_hd h2, div.dockeditempanel_hd{
text-align: left;
font-size: 12px;

}
div.dockeditempanel_hd{ 
padding-top: 3px;
padding-bottom: 3px;
background: #eee;
border-bottom: 1px solid #CEC296 !important;
}

div.dockeditempanel_bd ul, div.dockeditempanel_bd li {
list-style-type:none;
padding: 0;
}
#dockeditempanel {
margin-left: 1px;
}

#dock div.controls {
margin-top: 20px; 
padding-top: 0px;
position: relative;
}

/**misc clean up styles**/
div.profilepicture a img {
margin-top:51px;
background:#dcd0a0;
border:1px solid #eee;
padding:10px 10px 20px;
}

div.que {
border:1px solid #CEC296;
background:#dcd0a0;
}

.content hr {
height:1px;
color:#CEC296;
background-color:#CEC296 !important;
border: none; border-style: none;
}

span.helplink a img {
vertical-align:6%;
}
span.completionprogress {
font-size: 11px;
font-weight: 200;
}
div.redirectmessage {
width:60%;
margin-top:10px;
margin-left:auto;
margin-right:auto;
border:none;
font-size:13px;
background: url([[pix:theme|ajax-loader]]) no-repeat;
background-position:50% 100%;
padding:15px;
}

.calendarlayout table.event {
border:1px solid #CEC296;
background:#dcd0a0;
width:97% !important;
}

/**my moodle page style **/
div.assignment.overview {
margin-bottom:5px;
padding-bottom:3px;
border-bottom:1px solid #CEC296;
}

div.assignment.overview div {
display:block !important;
float:none !important;
width:100% !important;
}

#headright ul,#headright li,ul.teachers {
list-style-type:none;
margin:0;
padding:0;
}

td.category.number {
color:#666;
}

.innerrightinfo div.logininfo a,.block div.content a,.coursebox a,table.categorylist td a,.generaltable td a,.forumheaderlist td a,.files td a,.editcourse td a,.logtable td a {
text-decoration:none;
}

.editcourse th,
.editcourse td,
.generaltable th,
.generaltable td,
#page-admin-course-category .generalbox th,
#page-admin-course-category .generalbox td,
#attempts th,
#attempts td,
.environmenttable th,
.environmenttable td,
.forumheaderlist td,
.forumheaderlist th {
    border: 1px solid #CEC296;
    border-collapse: collapse;
}

#page-admin-course-category .generalbox th,
.editcourse .header,
.results .header,
#attempts .header,
.generaltable .header,
.environmenttable th,
.forumheaderlist th {
    background: #dcd0a0;
    border-bottom-width: 2px;
}

.johndocsleft div.homelink,.gradestable div.userpic,div.etitle {
float:left;
}

.block_myprofile div.content,td.replies,td.lastpost,div.buttons,div.singlebutton,table#categoryquestions td.creatorname,table#categoryquestions td.modifiername,.gradestable td.grade_type_text,.gradestable .lastrow td.cell {
text-align:center;
}

div.block_tree_box,div.block_navigation ul.block_tree,div.descriptionbox {
border:none !important;
}

div.navbartwo,.wikilinkright,.quizpage div.questioncontrols {
float:right;
}

table.generalbox,div.descriptionbox div.description {
border:none;
}

.forumpost .picture,.forumpost .side,#content {
background:none;
}

.userinfobox,table.calendarmonth.calendartable td {
border:1px solid #CEC296 !important;
}
div.statusdisplay {
background: #dcd0a0fcc;
}
.calendarmonth.calendartable th {
font-size:10px;
font-weight:200;
text-transform:uppercase;
border:1px solid #CEC296 !important;
}
/** login form **/
.twocolumns div.loginpanel {
border-right: 1px solid #CEC296 !important;
}
div.forgetpass {
clear: both;
}
div.loginform {
width: 90% !important;
}
div.loginform div.form-input input{
width: 150px !important;
}
div.loginform label {
line-height: 20px;
}
div.signuppanel {
float: right !important;
width: 40% !important;
margin-left: 0px;
padding-left: 0px;
}
/** a few color styles for the tabs **/
div.tabtree li a span {
font-size: 12px;
}
div.tabtree li.selected a span {
color: #333333;
}


/* report fixes and grade table fixes */
.path-course-report #region-main-box #region-main .region-content, .path-course-report #page-content #region-main-box #region-post-box #region-main-wrap #region-main .region-content {
	overflow: auto;
}

.overview-tablecontainer, .graph {
	overflow: auto;
}

/*My Moodle Page */
.path-my .coursebox .info {
    float: none;
    text-align: left;
    width: 90%;
}

