#page-content #region-main-box {
    left: 215px;
}

#page-content #region-pre {
    left: 215px;
    width: 215px;
}

#page-content #region-post {
    width: 215px;
}

#page-content #region-post-box {
    margin-left: -430px;
}

#page-content #region-main {
    margin-left: 430px;
}

.side-pre-only #page-content #region-post-box {
    margin-left: -215px;
}

.side-pre-only #page-content #region-main {
    margin-left: 215px;
}

.side-post-only #page-content #region-post-box {
    margin-left: -215px;
}

.side-post-only #page-content #region-main {
    margin-left: 215px;
}