/*********************************/
/**** Standard Course Header ****/
/*******************************/


/**************************/
/****** Block Layout ******/
/**************************/

#sch-page-wrap { 
	#max-width: 960px; 
	min-width: 260px; 
	margin: 0 auto; 
	position: relative; 
}
#sch-header { 
	#max-width: 960px; 
	min-width: 260px; 
	background: #040;
	margin: 15px auto 0;
        -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
	background-image: -moz-linear-gradient(top, #262, #131); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #262),color-stop(1, #131)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#262', endColorstr='#131'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#262', endColorstr='#131')"; /* IE8 */ 
}
#sch-main-content { 
	padding: 0 20px 0 10px; 
#	background: white;
	min-height: 330px;
	text-align: justify;
}
#sch-main-sidebar { 
	position: relative; 
	float: right;
	#right: 10px; 
	#left: 10px;
	#top: -5px; 
	min-width: 200px; 
	min-height: 300px;
	bottom: 3%;
	#background: url(http://dl.dropbox.com/u/179998/2.x-theme/standard-course-header/brushed_alu.png); 
	padding: 10px;
	margin: 15px 7px 5px 15px;
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.3);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	box-shadow: 2px 2px 9px rgba(0,30,0,0.5);
	-moz-box-shadow: 2px 2px 9px rgba(0,30,0,0.5);
	-webkit-box-shadow: 2px 2px 9px rgba(0,30,0,0.5);
        background-image: -moz-linear-gradient(top, #070, #050); /* FF3.6 */
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #070),color-stop(1, #050)); /* Saf4+, Chrome */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#070', endColorstr='#050'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#070', endColorstr='#050')"; /* IE8 */
}                    
#sch-footer { 
	#max-width: 960px; 
	min-width: 260px; 
	#background: url(http://dl.dropbox.com/u/179998/2.x-theme/standard-course-header/brushed_alu.png);
	background: #040;
	margin: 0 auto 15px;
	padding: 10px;
}
#sch-footer:before{  				/* content located in the footer for all SCH! */
	content: " \00a9  CSS Controlled Text test in Footer \2713 ";
	color:  #ddd; 
				  }  				/* content located in the footer for all SCH! */
#sch-footer p { 
	padding: 10px; 
	color:  #ddd; 
}
#sch-footer a {
	color: #040; 
	border-bottom: 1px dotted white; 
	text-decoration: none; 
}
#sch-footer a:hover {
	border-bottom-style: solid; 
}


/************************************/
/****** S.C.H. Global Controls ******/
/************************************/

DIV#standard-course-header {
	font: 13px/1.5 Verdana, Gerogia, serif; 
}
DIV#standard-course-header hr{  		/* hr spacing */
	margin: 10px 0;
}
DIV#standard-course-header  h3 {  	/* rightside headers */
	color: #040; 
	text-align: center; 
	margin: 0;
}
#a[href$='.pdf'] {
  padding-right: 20px;
  background: url(http://dl.dropbox.com/u/179998/icons/pdf.png) no-repeat right;
}
#a[href$='.rss'], a[href$='.atom'] {
  padding-right: 17px;
  background: url(http://dl.dropbox.com/u/179998/icons/rss16x16.png) no-repeat right;
}
#a[href *="facebook"] {
  padding-right: 17px;
  background: url(http://dl.dropbox.com/u/179998/icons/facebook.gif) no-repeat right;
}

/*********************/
/*** iframe blocks ***/
/*********************/
.global-top-iframe {
	margin: -20px 0 12px 0;
	background: gold;
	min-height: 0px;
	min-width: 266px; 
	width: 100%;
	height: 0px; 			/* This will show/hide the iframe */
	#padding: 0 0 5px 0; 	/* to properly hide iframe comment this out */
}
.global-top-page { 			/* This is the css for the global-top-iframe */
		font: 13px/1.5 Verdana, Gerogia, serif;
		color: #040;
		text-align: left;
		padding: 0 20px;
}
.global-bottom-iframe {
	margin: 5px 0 -5px 0;
	background: gold;
	min-height: 0px;
	min-width: 266px; 
	width: 100%;
	height: 0px; 			/* This will show/hide the iframe */
	#padding: 5px 0 2px 0;		/* to properly hide iframe comment this out */
}
.global-bottom-page { 		/* This is the css for the global-bottom-iframe */
		font: 13px/1.5 Verdana, Gerogia, serif;
		color: #040;
		text-align: left;
		padding: 0 20px;
}
.global-footer-iframe { 		/* This is not in use, but ready if need be */
	#min-height: 40px;
	#height: 40px;
	#width: 100%;
	#min-width: 266px; 
}

/************************************/
/****** Individual DIV Control ******/
/************************************/

#sch-header  {  				/* course name */
	color: #ddd; 
	font-size: 160%;
	padding: 10px 8px;
	margin-top: 0px;
	margin-bottom: 16px;
	#-moz-border-radius: 10px 10px 0px 0px;
	#-webkit-border-radius: 10px 10px 0px 0px;
}
#sch-header  span{  			/* date of course */
	color: #ddd; 
	font-size: 60%;
	margin: 0 0 2px 30px;
	text-align: justify;
}
.sch-img-vid { 				/* picture or video of instructor */
	float:left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.sch-img-vid img{			 /* picture or video of instructor */
	width: 100%;
	max-width: 320px;
}
.sch-img-vid iframe{			 /* picture or video of instructor */
	width: 100%;
	max-width: 320px;
}
.sch-course-description { 	 /* description of course */
	
}
.sch-course-description i{ 	 /* About This Course: */
	font-style:italic;
}
.sch-course-description span{ /* course study and credit hours */
	padding: 10px;
	font-style:italic;
}
.sch-course-description-additional { /* additional description of course */
	padding: 10px 0 0 0;
}
.sch-form { 					 /* unit/week quick selector */
	 
} 
.sch-off-popup { 			/* comment about turning off popup blocker */
	color:darkred;
	padding: 10px 0;
}
.sch-cst { 					/* Western is on ... */
	
}
.sch-cst span{ 				/* ... Central Standard Time */
	font-weight: bold;
}

/*********************/
/*** contact block ***/
/*********************/

.sch-contact-info { 			/* entire block of instructor info */
	background-image: url(http://dl.dropbox.com/u/179998/2.x-theme/standard-course-header/contact-info.png);
	width: 205px;
	background-position: 1px -7px;
	background-repeat: no-repeat;
	padding: 30px 0 0 8px;
}
.sch-contact-info p{ 			/* paragraph tag of instructor info */
	#padding: 15px 0 10px;
	#margin: -6px 0 14px;
}

/*** Individual DIV Control ***/
.sch-name span { 			/* entire block of instructor info */
	font-weight: bold;
	color: black;
	margin: 5px 0 0 0;
}
.sch-name { 					/* instructor info */
	#color: red;
}
.sch-phone span{				/** text before instructor info **/
	color: black;
	font-weight: bold;
}
.sch-phone { 				/* instructor info */
	color: red;
}
.sch-email span{ 			/** text before instructor info **/
	color: black;
	font-weight: bold;
}
.sch-email { 				/* instructor info */
	color: red;
}
.sch-email a{ 				/* instructor info link */
	color: red;
}
.sch-email a:hover{			/* instructor info link */
	color: blue;
}
.sch-cell span{ 				/** text before instructor info **/
	color: black;
	font-weight: bold;
}
.sch-cell { 					/* instructor info */
	
}
.sch-social span{ 				/** text before instructor info **/
	color: black;
	font-weight: bold;
}
.sch-social { 					/* instructor info */
	
}
.sch-other span{ 				/** text before instructor info **/
	color: black;
	font-weight: bold;
}
.sch-other { 					/* instructor info */
	
}

/*** 1st Steps Block ***/
.sch-first-steps {
	background-image: url(http://dl.dropbox.com/u/179998/2.x-theme/standard-course-header/1st-steps.png);
	width: 205px;
	height: 150px;
	margin-left:-6px;
	margin-top: 15px;
	background-position: 4px 1px;
	background-repeat: no-repeat;
}
.sch-first-steps ol{
	padding: 66px 0 0 0;
}
.sch-first-steps li{
	margin-left: 36px;
	color: #009;
}
.sch-first-steps li a{
	color: #009;
	text-decoration: none;
}
.sch-first-steps li a:hover{
	color: #040;
	text-decoration: underline;
}





/* 12 point STAR */
	#burst-12 { background: #040; width: 80px; height: 80px; position: relative; text-align: center; color: white; float:right; margin:8px;font: 11px/1 arial;}
	#burst-12:before, 
	#burst-12:after { content: ""; position: absolute; top: 0; left: 0; height: 80px; width: 80px; background: #040; color: white; } 
	#burst-12:before { -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg); transform: rotate(30deg); } 
	#burst-12:after { -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -ms-transform: rotate(60deg); -o-transform: rotate(60deg); transform: rotate(60deg); } 
